<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/include/template.xhtml">

	<ui:define name="titulo">
		<title>Avaliaçoes feitas</title>
	</ui:define>

	<ui:define name="conteudo">
		<h1>Lista de filmes avaliado</h1>

		<h:dataTable value="#{filmeMB.listaMovies}" var="c">
			<h:column>
				<f:facet name="header">Nome do jogo</f:facet>
				<h:outputText value="#{c.name}" />
			</h:column>
			<h:column>
				<f:facet name="header">Nota de ilustracao</f:facet>
				<h:outputText value="#{c.arte}" />
			</h:column>
			<h:column>
				<f:facet name="header">Nota dos efeitos especiais</f:facet>
				<h:outputText value="#{c.efeitos_especiais}" />
			</h:column>
			<h:column>
				<f:facet name="header">Nota de criatividade</f:facet>
				<h:outputText value="#{c.originalidade}" />
			</h:column>
			<h:column>
				<f:facet name="header">Nota da trilha sonora</f:facet>
				<h:outputText value="#{c.trilha_sonora}" />
			</h:column>
			<h:column>
				<f:facet name="header">Nota do plot</f:facet>
				<h:outputText value="#{c.plot}" />
			</h:column>
			
			<h:column>
				<f:facet name="header">usuario no sistema</f:facet>
				<h:outputText value="#{c.login}" />
			</h:column>
		</h:dataTable>

		<br />
		<h:form>
			<h:commandLink action="filmeregister.jsf"
				value="Clique aqui para adicionar uma nova avaliaçao" />
		</h:form>
		<h3>
			<h:outputText value="media atual do jogo #{media}" />
		</h3>
		<br></br>


		<a href="http://localhost:8080/projectONE/userpage.jsf">voltar a
			pagina inicial</a>
	</ui:define>
</ui:composition>