<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<title>Movie page</title>
</h:head>
<h:body>
	<h:outputText value="hello #{login}" />

	<h:form>
		<h1>Avalie um Filme</h1>

		<h:messages />
		<fieldset>
			<p>Nome do usuario do sistema:</p>
			<p>
				<h:inputText value="#{login}" required="true" readonly="true"
					requiredMessage="usuario obrigatório" />
			</p>
			<p>Nome do Filme:</p>
			<p>
				<h:inputText value="#{filmeMB.movie.name}" required="true"
					requiredMessage="Filme obrigatório" />
			</p>
			<p>Nota de Arte do Filme:</p>
			<p>
				<h:inputText value="#{filmeMB.movie.arte}" required="true"
					requiredMessage="arte do filme obrigatória" />
			</p>

			<p>Nota de efeitos especiais:</p>
			<p>
				<h:inputText value="#{filmeMB.movie.efeitos_especiais}" required="true"
					requiredMessage="efeitos especiais obrigatórios" />
			</p>
			<p>Nota da historia do filme:</p>
			<p>
				<h:inputText value="#{filmeMB.movie.plot}" required="true"
					requiredMessage="plot obrigatório" />
			</p>
			<p>Nota da originalidade do filme:</p>
			<p>
				<h:inputText value="#{filmeMB.movie.originalidade}" required="true"
					requiredMessage=" obrigatório" />
			</p>
			<p>Nota da trilha sonora do filme:</p>
			<p>
				<h:inputText value="#{filmeMB.movie.trilha_sonora}" required="true"
					requiredMessage="nota obrigatória" />
			</p>
			<p>
				<h:commandButton action="#{filmeMB.cadastrar}" value="send" />
			</p>
		</fieldset>
	</h:form>
</h:body>
</html>