<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<title>Game page</title>
</h:head>
<h:body>
	<h:outputText value="hello #{login}" />

	<h:form>
		<h1>Avalie um Jogo</h1>

		<h:messages />
		<fieldset>
			<p>Nome do usuario do sistema:</p>
			<p>
				<h:inputText value="#{login}" required="true" readonly="true"
					requiredMessage="usuario obrigatório" />
			</p>
			<p>Nome do jogo:</p>
			<p>
				<h:inputText value="#{gameMB.game.name}" required="true"
					requiredMessage="jogo obrigatório" />
			</p>
			<p>Nota de Arte do jogo:</p>
			<p>
				<h:inputText value="#{gameMB.game.arte}" required="true"
					requiredMessage="usuario do jogo obrigatório" />
			</p>

			<p>Nota de graficos do jogo:</p>
			<p>
				<h:inputText value="#{gameMB.game.grafico}" required="true"
					requiredMessage="nota obrigatória" />
			</p>
			<p>Nota da historia do jogo:</p>
			<p>
				<h:inputText value="#{gameMB.game.historia}" required="true"
					requiredMessage="nota obrigatória" />
			</p>
			<p>Nota do fator de replay do jogo:</p>
			<p>
				<h:inputText value="#{gameMB.game.replay}" required="true"
					requiredMessage="nota obrigatória" />
			</p>
			<p>Nota da jogabilidade do jogo:</p>
			<p>
				<h:inputText value="#{gameMB.game.jogabilidade}" required="true"
					requiredMessage="nota obrigatória" />
			</p>
			<p>
				<h:commandButton action="#{gameMB.cadastrar}" value="send" />
			</p>
		</fieldset>
	</h:form>
</h:body>
</html>