<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/include/template.xhtml">

	<ui:define name="titulo">
		<title>Avaliaçoes feitas</title>
	</ui:define>

	<ui:define name="conteudo">
		<h1>Lista de jogos avaliados</h1>

		<h:dataTable value="#{gameMB.listaGames}" var="c">
			<h:column>
				<f:facet name="header">Nome do jogo</f:facet>
				<h:outputText value="#{c.name}" />
			</h:column>
			<h:column>
				<f:facet name="header">Nota de artes</f:facet>
				<h:outputText value="#{c.arte}" />
			</h:column>
			<h:column>
				<f:facet name="header">Nota de graficos</f:facet>
				<h:outputText value="#{c.grafico}" />
			</h:column>
			<h:column>
				<f:facet name="header">Nota de historia</f:facet>
				<h:outputText value="#{c.historia}" />
			</h:column>
			<h:column>
				<f:facet name="header">Nota de jogabilidade</f:facet>
				<h:outputText value="#{c.jogabilidade}" />
			</h:column>
			<h:column>
				<f:facet name="header">Nota de replay</f:facet>
				<h:outputText value="#{c.replay}" />
			</h:column>
			
			<h:column>
				<f:facet name="header">usuario no sistema</f:facet>
				<h:outputText value="#{c.login}" />
			</h:column>
		</h:dataTable>

		<br />
		<h:form>
			<h:commandLink action="gameregister.jsf"
				value="Clique aqui para adicionar uma nova avaliaçao" />
		</h:form>
		
				<h5>Suas estatisticas</h5>

		<h3>
			<h:outputText value="Invocador #{summoner}" />
		</h3>
		<h5>campeões mais jogados</h5>
		<br></br>
		<table>
			<tr>
				<td><h:outputText value="#{chmp1}" />
					<h:graphicImage value="#{img1}" /></td>
				<td><h:outputText value="#{chmp2}" />
					<h:graphicImage value="#{img2}" /></td>
				<td><h:outputText value="#{chmp3}" />
					<h:graphicImage value="#{img3}" /></td>
			</tr>
		</table>
		<h:outputText value="#{chmpdata}" />
		<h:graphicImage value="#{eloimg}" />
		
		<br></br>


		<a href="http://localhost:8080/projectONE/userpage.jsf">voltar a
			pagina inicial</a>
	</ui:define>
</ui:composition>