<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/include/template.xhtml">

	<ui:define name="titulo">
		<title>Usuarios cadastrados</title>
	</ui:define>

	<ui:define name="conteudo">
		<h1>Lista de usuarios</h1>

		<h:dataTable value="#{usuarioMB.listaUsers}" var="c">
			<h:column>
				<f:facet name="header">Login</f:facet>
				<h:outputText value="#{c.login}" />
			</h:column>
			<h:column>
				<f:facet name="header">senha</f:facet>
				<h:outputText value="#{c.senha}" />
			</h:column>
			<h:column>

				<form action="deletion">
					<input type="hidden" readonly="true" name="log" value="#{c.login}"/>
					<input type="submit" value="delete-me"/>
				</form>
			</h:column>

		</h:dataTable>


	</ui:define>
</ui:composition>