<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<title>Book page</title>
</h:head>
<h:body>
	<h:outputText value="hello #{login}" />

	<h:form>
		<h1>Avalie um Livro</h1>

		<h:messages />
		<fieldset>
			<p>Nome do usuario do sistema:</p>
			<p>
				<h:inputText value="#{login}" required="true" readonly="true"
					requiredMessage="usuario obrigatório" />
			</p>
			<p>Nome do Livro:</p>
			<p>
				<h:inputText value="#{livroMB.livro.name}" required="true"
					requiredMessage="Livro obrigatório" />
			</p>
			<p>Nota de criatividade do livro:</p>
			<p>
				<h:inputText value="#{livroMB.livro.criatividade}" required="true"
					requiredMessage="obrigatório" />
			</p>

			<p>Nota do autor:</p>
			<p>
				<h:inputText value="#{livroMB.livro.autor}" required="true"
					requiredMessage="obrigatório" />
			</p>
			<p>Nota da forma de escrita do livro:</p>
			<p>
				<h:inputText value="#{livroMB.livro.escrita}" required="true"
					requiredMessage="obrigatório" />
			</p>
			<p>Nota sobre ilustrações detalhadas no livro ou não:</p>
			<p>
				<h:inputText value="#{livroMB.livro.ilustracoes}" required="true"
					requiredMessage=" obrigatório" />
			</p>
			<p>Nota do plot do livro:</p>
			<p>
				<h:inputText value="#{livroMB.livro.plot}" required="true"
					requiredMessage="obrigatório" />
			</p>
			<p>
				<h:commandButton action="#{livroMB.cadastrar}" value="send" />
			</p>
		</fieldset>
	</h:form>
</h:body>
</html>