<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/include/template.xhtml">
	
	<ui:define name="titulo">
		<title>Login</title>
	</ui:define>

	<ui:define name="conteudo">
		<h:form>
			<h1>Bem-vindo!</h1>
			
			<h:messages />
			<fieldset>
				<p>Login:</p>
				<p>
					<h:inputText value="#{usuarioMB.usuario.login}" 
						required="true" requiredMessage="Login obrigatório" />
				</p>
				
				<p>Senha:</p>
				<p>
					<h:inputSecret value="#{usuarioMB.usuario.senha}" 
						required="true" requiredMessage="Senha obrigatória" />
				</p>
				
				<p><h:commandButton action="#{usuarioMB.login}" 
					value="Login" /></p>
			</fieldset>
			
		</h:form>
		<h1>Não possui uma conta?</h1>
		<form action="cadastra.jsf">
			<input type="submit" value="cadastrar"/>
		</form>
	</ui:define>
</ui:composition>