<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/include/template.xhtml">

	<ui:define name="titulo">
		<title>Selecione a forma de avaliação</title>
	</ui:define>

	<ui:define name="conteudo">
		<h1>avaliações disponíveis</h1>

		<a href="http://localhost:8080/projectONE/gameregister.jsf">Avaliar um Jogo</a>

		<a href="http://localhost:8080/projectONE/filmeregister.jsf">Avaliar um Filme</a>

		<a href="http://localhost:8080/projectONE/livroregister.jsf">Avaliar um Livro</a>
	</ui:define>
</ui:composition>