<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<title>redirect page</title>
	<meta http-equiv="refresh" content="0; url=http://localhost:8080/projectONE/second" />
</h:head>

</html>