<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>Primeira pagina com JSF</title>
</h:head>
<h:body>
	<form action="searchsum">
		Search For Summoner:<br></br>
		<input type="text" name="summoner"/><br></br>
		
		<input type="submit" value="Submit"/>
	</form>
</h:body>
</html>