<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<title>User page</title>
	<style>
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#CD2626;
    color: white;
}
</style>
</h:head>
<h:body>
	<h:outputText value="hello #{login}" />
	<h3>Usuarios conectados</h3>
	<ul>
		<ui:repeat value="#{usersConnected.users}" var="user">
			<li><h:link value="#{user.login}" outcome="user">

				</h:link></li>
		</ui:repeat>
	</ul>
	<div>
		<table>
			<tr>
				<td>
					<form action="http://localhost:8080/projectONE/chat">
						<input type="submit" value="Chat" />
					</form>
				</td>
				<td>
					<form action="http://localhost:8080/projectONE/rateselector.jsf">
						<input type="submit" value="rate" />
					</form>
				</td>
				<td>
					<form action="http://localhost:8080/projectONE/fbapi">
						<input type="submit" value="followPage" />
					</form>
				</td>
				<td>
					<form action="http://localhost:8080/projectONE/lista.jsf">
						<input type="submit" value="listar usuarios" />
					</form>
				</td>
				<td>
					<form action="http://localhost:1880/list">
						<input type="submit" value="alocar salas" />
					</form>
				</td>
				<td>
					<form action="http://localhost:8080/projectONE/searchPage.jsf">
						<input type="submit" value="summoner page" />
					</form>
				</td>
								<td>
					<form action="http://localhost:8080/projectONE/livrorate.jsf">
						<input type="submit" value="book page" />
					</form>
				</td>
				
			</tr>
		</table>
	</div>
	<h3>Recomenado para você</h3>
	<h3>Jogos</h3>
	
		<table>
		<tr>
			<td>
				<form action="http://localhost:8080/projectONE/red1">
					<input type="submit" value="ordenar pela coluna 3" />
				</form>
			</td>
			<td>
				<form action="http://localhost:8080/projectONE/red5">
					<input type="submit" value="ordenar pela coluna 4" />
				</form>
			</td>
			<td>
				<form action="http://localhost:8080/projectONE/red2">
					<input type="submit" value="ordenar pela coluna 5" />
				</form>
			</td>
			<td>
				<form action="http://localhost:8080/projectONE/red3">
					<input type="submit" value="ordenar pela coluna 6" />
				</form>
			</td>
			<td>
				<form action="http://localhost:8080/projectONE/red4">
					<input type="submit" value="ordenar pela coluna 7" />
				</form>
			</td>
		</tr>
	</table>
	
	<h:dataTable id="customers" value="#{gameMB.secondGameList}" var="c">
		<h:column>
			<f:facet name="header">Nome do jogo</f:facet>
			<h:outputText value="#{c.name}" />
		</h:column>
		<h:column>
			<f:facet name="header">Usuario que recomendou</f:facet>
			<h:outputText value="#{c.login}" />
		</h:column>
		<h:column>
			<f:facet name="header">Nota de artes</f:facet>
			<h:outputText value="#{c.arte}" />
		</h:column>
		<h:column>
			<f:facet name="header">Nota de graficos</f:facet>
			<h:outputText value="#{c.grafico}" />
		</h:column>
		<h:column>
			<f:facet name="header">Nota de historia</f:facet>
			<h:outputText value="#{c.historia}" />
		</h:column>
		<h:column>
			<f:facet name="header">Nota de jogabilidade</f:facet>
			<h:outputText value="#{c.jogabilidade}" />
		</h:column>
		<h:column>
			<f:facet name="header">Nota de replay</f:facet>
			<h:outputText value="#{c.replay}" />
		</h:column>
	</h:dataTable>

	<h3>Filmes</h3>
	<h:dataTable id="customers" value="#{filmeMB.secondMovieList}" var="c">
		<h:column>
			<f:facet name="header">Nome do Filme</f:facet>
			<h:outputText value="#{c.name}" />
		</h:column>
		<h:column>
			<f:facet name="header">Usuario que recomendou</f:facet>
			<h:outputText value="#{c.login}" />
		</h:column>
		<h:column>
			<f:facet name="header">Nota de artes</f:facet>
			<h:outputText value="#{c.arte}" />
		</h:column>
		<h:column>
			<f:facet name="header">Nota de efeitos especiais</f:facet>
			<h:outputText value="#{c.efeitos_especiais}" />
		</h:column>
		<h:column>
			<f:facet name="header">Nota de plot</f:facet>
			<h:outputText value="#{c.plot}" />
		</h:column>
		<h:column>
			<f:facet name="header">Nota de originalidade</f:facet>
			<h:outputText value="#{c.originalidade}" />
		</h:column>
		<h:column>
			<f:facet name="header">Nota da trilha sonora</f:facet>
			<h:outputText value="#{c.trilha_sonora}" />
		</h:column>
	</h:dataTable>

	<h3>Livros</h3>
	<h:dataTable id="customers" value="#{livroMB.secondListaLivro}" var="c">
		<h:column>
			<f:facet name="header">Nome do Livro</f:facet>
			<h:outputText value="#{c.name}" />
		</h:column>
		<h:column>
			<f:facet name="header">Usuario que recomendou</f:facet>
			<h:outputText value="#{c.login}" />
		</h:column>
		<h:column>
			<f:facet name="header">Nota do autor</f:facet>
			<h:outputText value="#{c.autor}" />
		</h:column>
		<h:column>
			<f:facet name="header">Nota de criatividade</f:facet>
			<h:outputText value="#{c.criatividade}" />
		</h:column>
		<h:column>
			<f:facet name="header">Nota de escrita</f:facet>
			<h:outputText value="#{c.escrita}" />
		</h:column>
		<h:column>
			<f:facet name="header">Nota de ilustracoes</f:facet>
			<h:outputText value="#{c.ilustracoes}" />
		</h:column>
		<h:column>
			<f:facet name="header">Nota do plot</f:facet>
			<h:outputText value="#{c.plot}" />
		</h:column>
	</h:dataTable>






</h:body>
</html>